        body {
            font-family: 'Poppins', sans-serif;
            text-align: center;
           background-color: #ffe6e6;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        video {
            width: 80%;
            max-width: 600px;
            height: auto;
            border-radius: 10px;
        }
        .text {
            margin: 20px 0;
            font-size: 24px;
            color: #d63384;
            font-weight: bold;
        }